body{
    background-image: linear-gradient(to right, #016599,#01C4D8 );
}

.container{
    max-width: 1200px;
    margin-bottom: 20px;
}


nav img{
    width: 100px;
    margin-left: 50px;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #23C9D2, #38A2A7);
    padding: 30px;  
}

nav ul li a{
    text-decoration: none;
    color: #202A4E;
    font-weight: bold;
    list-style: none;
    transition: all 0.5s;
}

a:hover{
    color: white;
}

nav a:active{
    opacity: 50%;
}

nav h1{
    color: #202A4E;
    margin-left: 10px;
}

nav li{
    list-style: none;
}

nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin-right: 40px;
}


.linha{
    border-left: 1px solid #202A4E;
    height: 30px;
}

.btn-outline{
    border: 1px solid #087DDC;
    padding: 10px 15px;
    border-radius: 5px;
    color: #202A4E;
    transition: all 0.5s;
}

.btn{
    text-decoration: none;
    color: #202A4E;
    border: 1px solid #087DDC;
    background-color: #087DDC;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.5s;
}

.btn-outline:hover{
    background-color: rgb(189, 184, 184);
    color: #087DDC;
}

.btn:hover{
    background-color: rgb(189, 184, 184);
    color: #087DDC;
}

.btn-outline:active{
    opacity: 50%;

}
.btn:active{
    opacity: 50%;
}
